<div id="rss_reader" class="module" data-module="rss_reader">

  <div class="module_settings"><span>Settings</span></div>
  <div class="module_remove"><span>Remove</span></div>

  {{ count }}

  <table>
    <tr>
      <th><div class="rss_reader_feed_title"><span>{{ feed_title0 }}</span></div></th>
      <th><div class="rss_reader_link_icon"><span>
        <a href="{{ feed_url0 }}" target="_blank">Link</a>
      </span></div></th>
    </tr>
    <tr>
      <th><div class="rss_reader_feed_title"><span>{{ feed_title1 }}</span></div></th>
      <th><div class="rss_reader_link_icon"><span>
        <a href="{{ feed_url1 }}" target="_blank">Link</a>
      </span></div></th>
    </tr>
    <tr>
      <th><div class="rss_reader_feed_title"><span>{{ feed_title2 }}</span></div></th>
      <th><div class="rss_reader_link_icon"><span>
        <a href="{{ feed_url2 }}" target="_blank">Link</a>
      </span></div></th>
    </tr>
    <tr>
      <th><div class="rss_reader_feed_title"><span>{{ feed_title3 }}</span></div></th>
      <th><div class="rss_reader_link_icon"><span>
        <a href="{{ feed_url3 }}" target="_blank">Link</a>
      </span></div></th>
    </tr>
    <tr>
      <th><div class="rss_reader_feed_title"><span>{{ feed_title4 }}</span></div></th>
      <th><div class="rss_reader_link_icon"><span>
        <a href="{{ feed_url4 }}" target="_blank">Link</a>
      </span></div></th>
    </tr>
  </table>

</div>
